<DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 30px;
  text-align: center;
  background: #a1d1e2;
  color: white;
  font-size: 20px;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body>

<div class="header">
  <h1>R-Lang Interpreter</h1>
  <p>Interpreter for custom language named RLang</p>
</div>

<div class="content">
    <h2 style="color: red;">ERROR: </h2>
  <H3>{{err_val}}</H3>
</div>

</body>
</html>