<!-- <!DOCTYPE html>
<html lang="en">
<form action="#" method="post">
    <p> Input: </p>
    <p><input type="text" name="nm" /></p>
    <p><input type="submit" value="Show Output"/></p>
</form>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 30px;
  text-align: center;
  background: #a1d1e2;
  color: white;
  font-size: 20px;
}

/* Page Content */
.content {
    padding:10px;
    }
.new {
    column-count: 3;

}
</style>
</head>
<body>

<div class="header">
  <h1>R-Lang Interpreter</h1>
  <p>Interpreter for custom language named RLang</p>
</div>

<div class="content">
  <h2>Guidelines</h2>
<div class="new">
    <p>(1) To perform <b>Addition</b> use: @, <b>Multiplication</b>: *,
           <b>Division</b>: | , <b>Subtraction</b>: ~ </p></br>
    <p>(2)To capitalize first letter of string use: # </p></br>
    <p>(3)To convert string to uppercase use: $ </p></br>
    <p>(4)To convert string to lowercase use: & </p></br></br>
    <p>(5)Follows BODMAS </p></br>
    <p>(6) Give string as input using: " " </p></br>


    </div>

  <form action="#" method="post">
    <p> <b>Input: </b></p>
    <p><input type="text" name="nm" /></p>
    <p><input type="submit" value="Show Output"/></p>
</form>
</div>

</body>
</html>